body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul li {
  list-style-type: none;
}

.border {
    border: 1px solid #ddd;
}

.table-desktop {
    display: table;
}

.table-mobile {
    display: none;
}

.carac-table-desktop {
    display: table;
}

.carac-table-mobile {
    display: none;
}

.text-center {
    text-align: center;
    vertical-align: middle;
}

.showMsg {
    position: fixed;
    bottom: 10px;
    right: 5px;
    opacity: 1;
    transition: all 2s;
    z-index: 1000;
}

.hideMsg {
    position: fixed;
    bottom: 10px;
    right: -100%;
    opacity: 0;
    transition: all 2s;
    z-index: 1000;
}

@media screen and (max-width: 500px) {

    .table-desktop {
        display: none;
    }

    .table-mobile {
        display: table;
    }

}

@media screen and (max-width: 600px) {

    .carac-table-desktop {
        display: none;
    }

    .carac-table-mobile {
        display: table;
    }

}
