body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.align-center {
    text-align: center;
}

/* BOOTSTRAP SURCOUCHE */
.panel, table {
    background-color: rgba(46, 51, 56, 0.8);
}

.panel-heading, .panel-title>a {
    font-size: 20px;
}

.noPadding .panel-body {
    padding: 0;
}

.glyphicon, .panel-title>a {
    cursor: pointer;
}
/* END BOOTSTRAP SURCOUCHE */

ul li {
  list-style-type: none;
}

/* MANAGE TABLE */
.table tbody tr td, .table thead tr th, .count {
    text-align: center;
    vertical-align: middle;
}

.uppercase {
    text-transform: uppercase;
}

.carac-table-desktop {
    display: table;
}

.carac-table-mobile {
    display: none;
}

.show-desktop {
    display: block;
}

.show-mobile {
    display: none;
}

.badge {
    cursor: pointer;
}

.showUpdateButton {
    position: absolute;
    top: 5px;
    right: 20px;
}
/* END MANAGE TABLE */

/* MESSAGE SHOW/HIDE */
.hideMsg {
    position: fixed;
    bottom: 10px;
    right: -100%;
    opacity: 0;
    transition: right, opacity 1s;
    z-index: 1000;
}

.hideMsg.showMsg {
    right: 5px;
    opacity: 1;
}
/* END MESSAGE SHOW/HIDE */

/*------------------------------------- MEDIA QUERIES -------------------------------------*/

@media screen and (max-width: 500px) {

    .show-desktop {
        display: none;
    }

    .show-mobile {
        display: block;
    }

}

@media screen and (max-width: 999px) {

    .carac-table-desktop {
        display: none;
    }

    .carac-table-mobile {
        display: table;
    }

}
